*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    margin: 20px;
}

.encabezado {
    display: flex;
    color: #dcffff;
    background-color: rgb(0, 108, 75);
    justify-content: center;
}

.contenido-principal {
    display: flex;
    height: 500px;
    background-color: rgb(0, 108, 75);
    justify-content: center;
}

.contenedor-cotizacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    height: 450px;
    margin-top: 10px;
    background-color: rgb(207, 232, 217);;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 30%);
}

.contenedor-cotizacion div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20%;
    font-size: 100%;
}

.contenedor-cotizacion label {
    font-size: 120%;
}

.contenedor-cotizacion input{
    width: 50%;
    margin: 2%;
    height: 40%;
    border-radius: 0.50em;
    border-style: none;
    text-align: center;
    font-size: large;
}

.contenedor-cotizacion select {
    width: 50%;
    margin: 2%;
    height: 40%;
    text-align: center;
    border-radius: 0.50em;
    border-style: none;
    font-size: large;
}

.contenedor-cotizacion .acciones{
    display: flex;
    justify-content: center;
    margin: 2%;
    width: 75%;
    height: 50%;
    flex-flow: row wrap;
}

.btnCalcular {
    margin: 5%;
    width: 25%;
    height: 100%;
    background-color: #a5eee0;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 0.50em;
    font-size: 100%;
}

.btnLimpiar {
    margin: 5%;
    width: 25%;
    height: 100%;
    background-color: #ffbfaf;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 0.50em;
}